<form class="form-horizontal" {{action "save" on="submit"}}>

  <label>Subdomain</label>
  {{view Ember.TextField valueBinding="model.subdomain" id="subdomain" placeholder="Subdomain" required="true"}}

  <button type="submit" class="btn">Create client!</button>
</form>